{% extends "base.html" %}

{% block titulo %} Agendar Horas {% endblock %}


{% block contenido %}


<div class="card">
    <div class="card-body">
        <h2>Horas Disponibles</h2>

        <table class="table table-striped table-hover table-responsive-sm" >
        
            <tr> <th>Fecha y Hora</th> <th> Medico </th> <th> Especialidad </th> <th>Opciones</th></tr>
            {% for hora in horas %}
                {% if hora.agendado == False %}
                <tr>
                    <td>{{ hora.fecha_y_hora }}   </td>

                    <td>{{hora.medico_med_run.pnombre}} {{ hora.medico_med_run.apaterno }}   </td>

                    <td class="esp">{{ hora.especialidad_esp.nombre }}</td>


                    <td>
                        <a href="{% url 'confirmar' hora.id_hora %}" class="btn btn-success">Agendar</a>

                    </td>
    
                </tr>
                {% endif %}
            {% endfor %}            
        </table>

    </div>
</div>


{% endblock %}