{% extends "base.html" %}

{% block titulo %} Lista pacientes {% endblock %}


{% block contenido %}

<div class="card">
    <div class="card-header">
        Listado de pacientes
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Registrar paciente</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Pacientes</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Rut</th>
                        <th scope="col">DVRut</th>
                        <th scope="col">Nombre_1</th>
                        <th scope="col">Nombre_2</th>
                        <th scope="col">Apellido_1</th>
                        <th scope="col">Apellido_2</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Fono</th>
                        <th scope="col">Salud</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for usuario in usuarios %}

                    <tr class="">
                        <td>{{usuario.rut}}</td>
                        <td>{{usuario.rut_dv}}</td>
                        <td>{{usuario.nombre_1}}</td>
                        <td>{{usuario.nombre_2}}</td>
                        <td>{{usuario.apellido_1}}</td>
                        <td>{{usuario.apellido_2}}</td>
                        <td>{{usuario.correo}}</td>
                        <td>{{usuario.fono}}</td>
                        <td>{{usuario.salud}}</td>
                        <td>{{usuario.contrasena}}</td>
                        <td><a name="" id="" class="btn btn-info" href="{% url 'editar' %}" role="button">Editar</a>|
                            <a class="btn btn-danger" href="{% url 'eliminar' usuario.rut %}" role="button">Borrar</a>

                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>
{% endblock %}