{% extends "base.html" %}

{% block titulo %} Lista pacientes {% endblock %}


{% block contenido %}

<div class="card">
    <div class="card-header">
        Listado de pacientes
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Registrar paciente</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Pacientes</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Rut</th>
                        <th scope="col">DVRut</th>
                        <th scope="col">Nombre_1</th>
                        <th scope="col">Nombre_2</th>
                        <th scope="col">Apellido_1</th>
                        <th scope="col">Apellido_2</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Fono</th>
                        <th scope="col">Salud</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for usuario in usuarios %}

                    <tr class="">
                        <td>{{usuario.pac_run}}</td>
                        <td>{{usuario.dv_run}}</td>
                        <td>{{usuario.pnombre}}</td>
                        <td>{{usuario.snombre}}</td>
                        <td>{{usuario.apaterno}}</td>
                        <td>{{usuario.amaterno}}</td>
                        <td>{{usuario.fecha_nacimiento}}</td>
                        <td>{{usuario.telefono}}</td>
                        <td>{{usuario.salud_sal_id}}</td>
                        <td>{{usuario.correo_paciente}}</td>
                        <td>{{usuario.genero_paciente}}</td>


                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>
{% endblock %}