{% extends "base.html" %}

{% block titulo %} Lista pacientes {% endblock %}


{% block contenido %}

<div class="card">
     
    <h1>hola</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            
            <!-- Formulario de Medico -->
            <h2>Médico</h2>
            <p>Rut:</p>{{ custom_form.medico.med_run }}
            <p>Digito verificador: </p>{{ custom_form.medico.dv_run }}
            
            <!-- Formulario de Hora -->
            <h2>Hora</h2>
            {{ custom_form.hora.as_p }}
            
            <!-- Formulario de Especialidad -->
            <h2>Especialidad</h2>
            {{ custom_form.especialidad.as_p }}
    
            <input type="submit" value="Guardar">
        </form>
    </div>
    


</div>


{% endblock %}