{% extends "base.html" %}

{% block titulo %} Lista pacientes {% endblock %}


{% block contenido %}

<div class="card">
     
    <h1>hola</h1>
    <div>
        <form method="post" action="{% url 'Datos_completos' %}">
            {% csrf_token %}
            
            {{ form.non_field_errors }}
            
            <div class="fieldWrapper">
              {{ form.med_run.errors }}
              <label for="{{ form.med_run.id_for_label }}">Med Run:</label>
              {{ form.med_run }}
            </div>
            
            <div class="fieldWrapper">
              {{ form.dv_run.errors }}
              <label for="{{ form.dv_run.id_for_label }}">DV Run:</label>
              {{ form.dv_run }}
            </div>
            
            <div class="fieldWrapper">
              {{ form.esp_id.errors }}
              <label for="{{ form.esp_id.id_for_label }}">Especialidad ID:</label>
              {{ form.esp_id }}
            </div>
            
            <input type="submit" value="Generar Horas">
          </form>
          
    </div>
    


</div>


{% endblock %}