{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}


{% block contenido %}

<div class="row align-items-md-stretch">


    <div class="col-md-6">
        <div
            class="h-100 p-5 border rounded-3">
            <h2>Centro médico Galenos </h2>
            <p>Crea tu cuenta de usuario y agenda una hora hoy.</p>
            <img src="https://images.pexels.com/photos/6129507/pexels-photo-6129507.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="img-fluid">
            <a href="{% url 'registro' %}" class="btn btn-primary" type="button">Empezar</a>
        </div>
    </div>



    <div class="col-md-6">
        <div
            class="h-100 p-5 border rounded-3">
            <h2>¡Bienvenido a Galenos, tu centro médico de confianza!</h2>
            <p>En Galenos, nos enorgullecemos de brindar atención médica integral y personalizada para ti y tu familia. Nuestro compromiso es ofrecer servicios médicos de la más alta calidad, 
                respaldados por un equipo de profesionales dedicados y apasionados por el cuidado de la salud.
                En nuestro centro, encontrarás una amplia gama de especialidades médicas, desde medicina general hasta especialidades más específicas. 
                Nos esforzamos por combinar la tecnología más avanzada con un enfoque cálido y humano, asegurando que cada paciente reciba un tratamiento personalizado que se adapte a sus necesidades individuales.</p>
        </div>
    </div>
</div>
{% endblock %}