{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}


{% block contenido %}

<div class="row text-center">
    <h1>¡Bienvenidos al Centro Médico Galenos, donde la excelencia en la atención médica se encuentra con la comodidad y la innovación!</h1>
</div>
<div class="row">
    <div class="col-md-6">

        <div class="card">
            <div class="card-body">

                <h3 class="text-center">Descubre el Futuro de la Atención Médica en Galenos</h3>
                
                <p>En nuestros inicios como empresa familiar, nos propusimos revolucionar el panorama médico al proporcionar 
                    espacios totalmente equipados para médicos independientes en nuestro edificio emblemático. 
                    A lo largo del tiempo, no solo hemos mantenido esa visión, sino que la hemos llevado al siguiente nivel.</p>

            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="">
            <div class="">
                <img class="img-fluid" src="https://images.pexels.com/photos/247786/pexels-photo-247786.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
        </div>

    </div>

</div>

<div class="row justify-content-center">

    <div class="col-md-6">
        <div class="row ">
            <div class="col-6">
                <img class="img-fluid" src="https://images.pexels.com/photos/7339492/pexels-photo-7339492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
            <div class="col-6">
                <img class="img-fluid" src="https://images.pexels.com/photos/5715878/pexels-photo-5715878.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="card">
            <div class="card-body">

                <h3 class="text-center">Evolución Constante, Cuidado Inigualable</h3>
                
                <p>Hemos crecido y diversificado, incorporando servicios especializados como kinesiología, oftalmología y otorrinolaringología, 
                    que demandan entornos específicos para brindar la mejor atención posible. ¡En Galenos, la evolución es sinónimo de cuidado 
                    inigualable!</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}