{% extends "base.html" %}

{% block titulo %} Lista pacientes {% endblock %}


{% block contenido %}

{% load crispy_forms_tags %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">

                <form action="" method="post">
                    {% csrf_token %}
                    {{ formhora | crispy }}
                    <div class="d-flex justify-content-center">
                        <input type="reset" value="Cancelar" class="btn btn-secondary">&nbsp;
                        <input type="submit" value="Guardar" class="btn btn-primary">
                    </div>
                </form>


            </div>
        </div>

    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2>Horas Disponibles</h2>

        <table class="table table-striped table-hover table-responsive-sm">
        
            <tr> <th>ID Hora</th> <th>Fecha y Hora</th> <th>Agendada</th> <th>Opciones</th></tr>
    
            {% for hora in horas %}
                <tr>
                    <td>{{ hora.id_hora }}</td>
                    <td>{{ hora.fecha_y_hora }}</td>

                    {% if hora.agendado == True %}
                    <td>SI</td>
                    {% else %}
                    <td>NO</td>
                    {% endif %}


                    <td>
                        <a href="{% url 's_m_horas' hora.id_hora %}" class="btn btn-info">Modificar</a>
                        <a href="{% url 's_e_horas' hora.id_hora %}" class="btn btn-danger">Eliminar</a>

                    </td>
    
                </tr>
    
            {% endfor %}            
        </table>

    </div>
</div>

{% endblock %}